configuration {
    show-icons: true;
    font: "AdwaitaMono Nerd Font Bold 14";
    location: 0;
    hide-scrollbar: true;
}

* {
    background-color: #1A202B;
    text-color: #D8DEE9;
}

window {
    width: 86%;
    height: 72%;
    border: 0px;
    border-radius: 14px;
    padding: 0px;
    background-color: #1A202B;
}

mainbox {
    children: [inputbar, listview];
    spacing: 14px;
    padding: 20px;
    background-color: #1A202B;
}

inputbar {
    children: [prompt, entry];
    spacing: 10px;
    padding: 4px;
    background-color: #1A202B;
}

prompt {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: #89B4FA;
    text-color: #1A202B;
}

entry {
    padding: 8px 12px;
    background-color: #202936;
    text-color: #D8DEE9;
    placeholder: "Найти обои";
}

listview {
    columns: 3;
    lines: 2;
    flow: vertical;
    fixed-columns: true;
    fixed-height: false;
    dynamic: true;
    spacing: 14px;
    scrollbar: false;
    background-color: #1A202B;
}

element {
    orientation: vertical;
    spacing: 8px;
    padding: 10px;
    border: 0px;
    border-radius: 8px;
    background-color: #202936;
    text-color: #D8DEE9;
}

element-icon {
    size: 360px;
    horizontal-align: 0.5;
    background-color: transparent;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
    text-color: inherit;
}

element selected {
    border: 0px;
    border-radius: 8px;
    background-color: #303B4D;
    text-color: #89B4FA;
}
