configuration {
    show-icons: true;
    font: "AdwaitaMono Nerd Font Bold 12";
    location: 0;
    hide-scrollbar: false;
}

* {
    background-color: #1A1215;
    text-color: #EADCDE;
}

window {
    width: 876px;
    border: 0px;
    border-radius: 4px;
    padding: 0px;
    background-color: #1A1215;
}

mainbox {
    children: [inputbar, listview];
    spacing: 12px;
    padding: 16px;
    background-color: #1A1215;
}

inputbar {
    children: [prompt, entry];
    spacing: 10px;
    padding: 4px;
    background-color: #1A1215;
}

prompt {
    padding: 8px 14px;
    border-radius: 2px;
    background-color: #E63946;
    text-color: #1A1215;
}

entry {
    padding: 8px 14px;
    border-radius: 2px;
    background-color: #241A1D;
    text-color: #EADCDE;
    placeholder: "Найти обои";
}

listview {
    columns: 3;
    lines: 3;
    layout: vertical;
    flow: horizontal;
    fixed-columns: true;
    fixed-height: false;
    dynamic: true;
    spacing: 4px;
    padding: 4px;
    scrollbar: true;
    background-color: #1A1215;
}

scrollbar {
    width: 4px;
    padding: 0px;
    border: 0px;
    handle-width: 4px;
    handle-color: #3A2A2E;
    background-color: transparent;
}

element {
    orientation: vertical;
    spacing: 3px;
    padding: 0px;
    border: 2px;
    border-color: transparent;
    border-radius: 3px;
    background-color: #241A1D;
    text-color: #EADCDE;
}

element-icon {
    size: 272px;
    horizontal-align: 0.5;
    background-color: transparent;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
    text-color: inherit;
}

element selected {
    border-color: #E63946;
    background-color: #2E1F23;
    text-color: #FF5A63;
}
