configuration {
    show-icons: true;
    font: "AdwaitaMono Nerd Font Bold 12";
    location: 0;
    hide-scrollbar: false;
}

* {
    background-color: #1A202B;
    text-color: #D8DEE9;
}

window {
    width: 58%;
    border: 0px;
    border-radius: 16px;
    padding: 0px;
    background-color: #1A202B;
}

mainbox {
    children: [inputbar, listview];
    spacing: 12px;
    padding: 16px;
    background-color: #1A202B;
}

inputbar {
    children: [prompt, entry];
    spacing: 10px;
    padding: 4px;
    background-color: #1A202B;
}

prompt {
    padding: 8px 14px;
    border-radius: 8px;
    background-color: #89B4FA;
    text-color: #1A202B;
}

entry {
    padding: 8px 14px;
    border-radius: 8px;
    background-color: #202936;
    text-color: #D8DEE9;
    placeholder: "Найти обои";
}

listview {
    columns: 3;
    lines: 3;
    layout: vertical;
    flow: horizontal;
    fixed-columns: true;
    fixed-height: false;
    dynamic: true;
    spacing: 12px;
    padding: 4px;
    scrollbar: true;
    background-color: #1A202B;
}

scrollbar {
    width: 4px;
    padding: 0px;
    border: 0px;
    handle-width: 4px;
    handle-color: #303B4D;
    background-color: transparent;
}

element {
    orientation: vertical;
    spacing: 6px;
    padding: 8px;
    border: 2px;
    border-color: transparent;
    border-radius: 12px;
    background-color: #202936;
    text-color: #D8DEE9;
}

element-icon {
    size: 230px;
    horizontal-align: 0.5;
    background-color: transparent;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: transparent;
    text-color: inherit;
}

element selected {
    border-color: #89B4FA;
    background-color: #303B4D;
    text-color: #89B4FA;
}
